@tailwind base;
@tailwind components;
@tailwind utilities;


.card_ {
    width: 250px;
    height: 280px;
    padding: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
}

.card_ * {
    transition: 0.3s ease all;
}

.card_ img {
    margin: 0;
    width: 350px;
    height: 224px;
    object-fit: cover;
    display: block;
}

.card_ h3{
    margin: 0;
    padding: 12px 12px 48px;
    line-height: 32px;
    font-weight: 500;
    font-size: 20px;
}

.card_ .focus-content {
    display: block;
    padding: 8px 12px;
}

.card_ p {
    margin: 0;
    line-height: 1.5;
    padding-left: 12px;
}

.card_:hover img,
.card_:focus-within img {
    margin-top: -80px;
}

.card_:hover h3,
.card_:focus-within h3 {
    padding: 8px 12px 0;
}

.description{
    margin: 10px 0 !important;
    color:blue
}